  <main class="mb-auto">
    <div class="col-md-6 mx-auto mt-5">
      <div id="tall">
        <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
          <div class-"image6"></div>
          <div class="image7"></div>
        </div>
      </div>
  <h5><p><span class="glyphicon glyphicon-book"></span><strong>hometetteってどんなSNS？</strong></p> </h5>
  <p>朝5分早く起きただけで褒められたい！ </p>
  <p>会社に出勤しただけで褒められたい！！ </p>
  <p>生きてるだけで褒められたい！！！</p>
  <p>頑張っている人を見て自分も頑張りたい！</p>
  <p>そんな願いをかなえる優しいSNSです。</p>
  <p>さぁさぁみんなで</p>
  <h1><strong>hometette(褒めてって)</strong>  !!</h1>
  
  <p>A friendly SNS for those who want to be praised / praised.</p>
  <div class="row">
   <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
   <p class="ml-3"><a class="btn btn-success"  href="/users/sign_up">Sign Up</a></p>
   <p><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary ml-3", method: :post %></p>
        
  </div>
</div>
</main>