<div class="notification-view">
  <p><%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span></p>

  <% if !@comment.nil? %>
    <p class="notification-comment"><strong><%= @comment.comment %></strong></p>
  <% end %>
</div>